/* .productCard{ */
/* background-color: rgb(172, 183, 183); */
/* display: inline-block; */
/* margin: 10px; */
/* border: 2px solid #eee; */
/* box-shadow: 0 2px 5px #ccc; */
/* width: 150px; */
/* height: 250px; */
/* padding: 20px; */
/* } */
/* new */
.card {
    box-shadow: 0 4px 5px 0 rgba(29, 29, 29, 0.2);
    /* max-width: 300px; */
    margin: 10px;
    text-align: center;
    font-family: arial;
    display: inline-block;
    background-color: rgb(219, 228, 228);
    border: 2px solid #eee;
    padding: 20px;
    width: 200px;
    height: 250px;
}

.price {
    color: grey;
    font-size: 22px;
}