#header {
   grid-column: 1 / 3;
  width: 100%;
  // height: 20%; 

}

#os {
  text-align: center;
}
.button_Continer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
  .add_to_cart_button {
      background-color: rgb(44, 183, 66);
      color: white;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid rgb(44, 183, 66);
      width: 200px;
      margin-right: 10px;
      cursor: pointer;

      &:hover {
          background-color: rgb(255, 255, 255);
          color: rgb(44, 183, 66);
      }
  }
}